<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsVtTCJhDtL1YXLvyGpC9rvgGK30m2YL8</string>
	<key>GCM_SENDER_ID</key>
	<string>235578646299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e4b23</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e4b23.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235578646299:ios:cf00a72b2b710804157dbe</string>
</dict>
</plist>